@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  background-image: url('/paper_fibers.png');
  font-family: 'Montserrat';
  /* min-height: -webkit-fill-available; */
  height: 100vh;
  height: var(--app-height);
}

.bg_paper_fiber_img {
  background-image: url('/paper_fibers.png');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  scrollbar-color: black;
  scrollbar-width: 3px;
  scrollbar-base-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar{
  width: 3px;
  height: 100px;
}

.custom-scrollbar::-webkit-scrollbar-track{
  background: transparent;
  margin-block-start: 120px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background: rgba(12, 12, 12, 0.281);
}
